COMPOSE_PROJECT_NAME=php-smarty-blog
PHP_TARGET=prod

APP_URL=https://cyprus-shop.online
APP_DOMAIN=cyprus-shop.online

TRAEFIK_NETWORK=traefik
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt

MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
