COMPOSE_PROJECT_NAME=php-smarty-blog
PHP_TARGET=dev

APP_URL=http://php-smarty-blog.localhost
APP_DOMAIN=php-smarty-blog.localhost

TRAEFIK_NETWORK=traefik
TRAEFIK_ENTRYPOINT=web

MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=blog
MYSQL_ROOT_PASSWORD=blogroot
